@model lab5.Areas.FurnitureFactory.ViewModels.FurnitureViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form action="@Url.Action("Index", "Furniture")" method="post">
    FurnitureName: @Html.TextBox("FurnitureName", Model.FurnitureName, new { style = "width: 100px;"})
    Description: @Html.TextBox("Description", Model.Description, new { style = "width: 100px;"})
    MaterialType: @Html.TextBox("MaterialType", Model.MaterialType, new { style = "width: 100px;"})
    Price: @Html.TextBox("Price", Model.Price, new {  style = "width: 100px;" })
    QuantityOnHand: @Html.TextBox("QuantityOnHand", Model.QuantityOnHand, new { type = "number",  style = "width: 100px;" })

    <input type="submit" value="Найти" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityOnHand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Furnitures) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOnHand)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FurnitureId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FurnitureId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FurnitureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="@Model.PageViewModel" page-action="Index"></page-link>
