@model lab5.Areas.FurnitureFactory.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentativeLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentativeLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentativeFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentativeFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentativeMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentativeMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
